body {
    font: 11px Avenir;
    background-color: #ffffff;
}

.axis line, .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#slider {
  -webkit-appearance: none;
  width: 60%;
  margin: 10px 20%;
  padding: 2px;
  box-shadow: 1px 2px 3px inset grey;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 15px;
}

#slider:hover {
  opacity: 1;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: firebrick;
  cursor: pointer;
  box-shadow: 1px 1px 2px grey;
}

#slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: firebrick;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 1px 1px 2px grey;
}

#replay-button {
    display: block;
    margin: 5px auto;
    -webkit-appearance: none;
    padding: 5px 15px;
    border: 0.5px solid grey;
    color: grey;
    background-color: WhiteSmoke;
    font-size: 1rem;
    transition-property: color, border-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

#replay-button:hover {
    border-color: #33cc33;
    color: #33cc33;
    cursor: pointer;
}

#replay-button:disabled {
    cursor: not-allowed;
    border: 0.5px solid grey !important;
    background-color: LightGray;
    color: Silver;
}

path:hover {
    cursor: crosshair;
}