---
permalink: "/index.html"
prev: false
next: "/section1/"
---
<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Nosifer&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/styles/main.css"/>
	<link rel="stylesheet" type="text/css" href="/styles/index.css"/>
	<title>World-Class Healthcare</title>
	<script src="/js/d3.min.js"></script>
</head>

<body>
	{% include "partials/controls.njk" %}
	<h1>World-Class Healthcare</h1>
	<h2>On <strong>March 23, 2010</strong>, President Barack Obama signed the Affordable Care Act into law.</h2>

	<h2>The Affordable Care Act was designed to expand coverage, contain costs, and ensure that every American can access to high-quality care. <strong>Did it?</strong></h2>

	<h2>In this interactive explainer, we explore how the landscape of the American healthcare system has evolved since the passage of this massive regulatory overhaul—and identify where it fell short of its goals.</h2>

	<img id="red-arrow" src="/img/red-arrow.png">
	<p id="click-to-begin"> Click here to begin </p>
	
	

</body>
</html> 
