---
permalink: "/conclusion/"
prev: "/deaths-of-despair/"
next: "/references/"
---
<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Nosifer&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/styles/main.css"/>
	<link rel="stylesheet" type="text/css" href="/styles/background.css"/>
	<title>Conclusion</title>
	<script src="/js/d3.min.js"></script>
</head>

<body>
	{% include "partials/controls.njk" %}
	<h1>Conclusion</h1>
	<h2>I hope that exploring this data about the American healthcare system has given you insight into how things have changed in recent years. It's clear to me that although we've made progress in expanding coverage, and slowing down costs, we are still facing a healthcare crisis. As pharmaceutical companies and insurance companies continue to rake in gigantic profits, the average length of an American life is going <em>down</em>, and people are taking their own lives and turning to drugs and alcohol because they have no one to turn to, and no hope for the future.</h2>

	<h2>I believe a better future is possible—but only if we treat healthcare as a human right, something that's owed to everyone as a fundamental part of a dignified life.</h2> 
	<!-- https://www.cdc.gov/nchs/data/nhis/earlyrelease/earlyrelease201611_01.pdf -->

</body>
</html> 
